@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    max-width:100%;
    font-family: 'Roboto Mono', monospace;
}

nav{
    display:block;
    width:100%;
    height:100px;
}

.top_buttons{
    margin-top:50px;
}

.first{
    background-color:#FF764E;
    border-radius:10px;
    padding: 10px;
    height:200px;
    margin-left:10%;
    text-decoration:none;
    color:white;
}

.second{
    background-color:#5ED3EB;
    border-radius:10px;
    padding: 10px;
    height:200px;
    margin-left:10%;
    text-decoration:none;
    color:white;
}

.third{
    background-color:#FFCD69;
    border-radius:10px;
    padding: 10px;
    height:200px;
    margin-left:10%;
    text-decoration:none;
    color:white;
}

header{
    padding:10px;
    height:300px;
    width:100%;
}

.title{
    font-family: 'Chelsea Market', cursive;
    padding-left:400px;
    position:relative;
    top:-200px;
}

.profilepic{
    margin:10px;
    padding:10px;
    height:200px;
    width:200px;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    top:10px;
    left:10px;
}

.profilepic img{
    height:200px;
    width:200px;
    border-radius:50%;
}

.first_sentence{
    margin-left:400px;
    margin-right:10px;
     position:relative;
    top:-200px;
}

.advert{
    background-color:#DDB9A3;
    color:white;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    padding:10px;
}

.fire_logo{
    display:inline-block;
    height:100px;
    width:100%;
    text-align:center;
    border-radius:10px;
    padding-top:10px;
    margin:0 auto;
}

.fire_logo img{
    height:100px;
    width:100px;
}

.fire_text{
    height:200px;
    width:500px;
    margin:0 auto;
    text-align:center;
}

.camper{
    display:inline-block;
    height:100px;
    width:100%;
    text-align:center;
    border-radius:10px;
    margin:0 auto;
}

.camper img{
    height:100px;
    width:100px;
}

.camper_text{
    height:200px;
    width:500px;
    margin:0 auto;
    text-align:center;
}

.banner{
    height:350px;
    width:100%;
}

.banner img{
    height:400px;
    width:100%;
}

footer{
    background-color:#F9E7DC;
    height:200px;
}

.bottom_buttons{
    margin-top:50px;
    padding-top:50px;
}